{% comment %}
ATB-SCHEMA{
  "name": "Text columns with images",
  "class": "index-section",
  "id": "feature-columns",
  "banner": "",
  "icon": "",
  "tags": "",
  "description": "",
  "settings": [
    {
      "type": "text",
      "id": "section_id",
      "label": "Section ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": ""
    },
    {
      "type": "text",
      "id": "atb_title",
      "label": "Heading",
      "default": "Text columns with images",
      "info": ""
    },
    {
      "type": "select",
      "id": "atb_align_text",
      "label": "Text alignment",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Centered"
        }
      ],
      "info": ""
    },
    {
      "type": "text",
      "id": "blocks",
      "label": "Block ID",
      "info": "Enter a unique ID with only letters and numbers, no spaces",
      "default": "",
      "repeatable": "Column"
    },
    {
      "type": "checkbox",
      "id": "block_enable_image",
      "label": "Show image",
      "default": true,
      "repeatable": "Column",
      "info": ""
    },
    {
      "type": "image_picker",
      "id": "block_image",
      "label": "Image",
      "repeatable": "Column",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_title",
      "label": "Heading",
      "default": "Add a title or tagline",
      "repeatable": "Column",
      "info": ""
    },
    {
      "type": "html",
      "id": "block_text",
      "label": "Text",
      "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>",
      "repeatable": "Column",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_button_label",
      "label": "Button label",
      "repeatable": "Column",
      "info": ""
    },
    {
      "type": "text",
      "id": "block_button_link",
      "label": "Button link",
      "repeatable": "Column",
      "info": ""
    }
  ],
  "warnings": [
    "repeating checkbox fields may not be properly handled",
    "repeating image fields may not be properly handled"
  ]
}ATB-SCHEMA
{% endcomment %}


{% include 'atb-render' field:'section_id' %}
{% assign section_id = val %}
{% include 'atb-render' field:'atb_title' %}
{% assign atb_title = val %}
{% include 'atb-render' field:'atb_align_text' %}
{% assign atb_align_text = val %}
{% include 'atb-render' field:'blocks' %}
{% assign blocks = val %}
{% include 'atb-render' field:'block_enable_image' %}
{% assign block_enable_image = val %}
{% include 'atb-render' field:'block_image' %}
{% assign block_image = val %}
{% include 'atb-render' field:'block_title' %}
{% assign block_title = val %}
{% include 'atb-render' field:'block_text' %}
{% assign block_text = val %}
{% include 'atb-render' field:'block_button_label' %}
{% assign block_button_label = val %}
{% include 'atb-render' field:'block_button_link' %}
{% assign block_button_link = val %}

<section id="shopify-section-{{section_id}}" class="shopify-section index-section">
<div class="page-width">
  {% if atb_title != blank %}
    <div class="section-header text-center">
      <h2>{{ atb_title }}</h2>
    </div>
  {% endif %}

  <div class="grid {% unless blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
    {%- assign grid_item_width = 'medium-up--one-third' -%}
    {%- assign image_size = '345x' -%}
    {% case blocks.size %}
      {% when 1 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
      {% when 4 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign image_size = '530x' -%}
    {% endcase %}
    {% for block0 in blocks %}
{% if block_enable_image[forloop.index0] == blank %}
{% assign my_checkbox0 = false %}
{% else %}
{% assign my_checkbox0 = true %}
{% endif %}
{% assign my_image_key0 = block_image[forloop.index0]| split: '/files/' | last %}
{% assign my_image0 = images[my_image_key0] %}
      {% if blocks.size == 5 and forloop.index < 3 %}
        {%- assign column_width = 'medium-up--one-half' -%}
      {% else %}
        {%- assign column_width = grid_item_width -%}
      {% endif %}
      <div class="grid__item {{ column_width }} text-{{ atb_align_text }}" {{ block.shopify_attributes }}>
        {% if my_checkbox0 %}
          {% if my_image0 != blank %}
            <p>
              {{ my_image0 | img_url: '480x480' | img_tag: 'feature-row__image' }}
            </p>
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
        {% endif %}
        {% if block_title[forloop.index0] != blank %}
          <h3 class="h4">{{ block_title[forloop.index0] }}</h3>
        {% endif %}
        {% if block_text[forloop.index0] != blank %}
          <div class="rte-setting">{{ block_text[forloop.index0] }}</div>
        {% endif %}
        {% if block_button_label[forloop.index0] != blank and block_button_link[forloop.index0] != blank %}
          <a href="{{ block_button_link[forloop.index0] }}" class="btn btn--secondary btn--small">
            {{ block_button_label[forloop.index0] }}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>


</section>